$font-size-medium: 36px;
$font-size-large: 60px;

.container {
    padding-top: 20rem;
}

.box-1 {
    border-style: solid;

    .h1-style {
        margin: auto;
        text-align: center;
        font-size: $font-size-large;

    }

    .form-style {
        margin: auto;

        .label-style {
            display: block;
            text-align: center;
            font-size: $font-size-medium;
        }

        .input-style {
            text-align: center;
            width: 99.6%;
            font-size: $font-size-medium;
        }

        .button-style {
            display: block;
            width: 500px;
            margin: auto;
            font-size: $font-size-medium;
        }
    }
}





body {
    background-color: pink;
}